{% extends 'admin/base_site.html' %}
{% block content %}
<h1>THỐNG KÊ THÔNG TIN CÁC KHOÁ HỌC</h1>
<h2>Số lượng khoá học: {{ course_count }}</h2>
<ul>
    {% for c in course_stats %}
    <li><strong>{{ c.subject }}</strong> có {{ c.lesson_count }} bài học </li>
    {% endfor %}
</ul>
    <canvas id="courseStatsChart" width="400" height="200"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('courseStatsChart').getContext('2d');
        const courseSubjects = {{ course_subjects|safe }};
        const lessonCounts = {{ lesson_counts|safe }};
        const chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: courseSubjects,
                datasets: [{
                    label: 'Số lượng khoá học mỗi môn',
                    data: lessonCounts,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}
